/**
 * Place your custom styles here.
 */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

body {
  font-family: 'Open sans';
}

.logo {
  text-align: center;
  display: block;
}

.logo img {

}

.page-header {
  text-align: center;
}

.navbar-brand {
  text-align: center;
  float: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar-nav {
  float: none !important;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.grid .grid-item {
	margin-bottom: 10px;
  overflow: hidden;
}

.field--name-field-images .col-md-4 {
	margin-bottom: 10px;
}

.page-node-type-proyectos .field--name-field-image {
	margin-bottom: 10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

#block-minimal-main-menu {
  z-index: 10;
}

#filters {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  border: '1px solid transparent';
  border-radius: 0;
}

.button-group .btn {
  margin: 2px;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

#colorbox {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.view-frontpage .img-responsive {
  width: 100%;
}

.feed-icon {
  margin: 20px 0;
  display: block;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
